.canvas {
    z-index: 2;
}

body {
    overflow-y: hidden;
    overflow-x: hidden;
}

.node-interactive {
    margin: 0;
    padding: 0;
    width: 200;
    height: 150;
    user-select: none;
}

.node-interactive > input {
    background-color: "#4f4f4f";
}