.file {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #2f2f2f;
}

.file > p {
    margin: 0;
    padding: 1px 0 1px 10px;
    user-select: none;
}

.file:hover {
    background-color: #2f2f2f;
}

.file:active {
    background-color: #0050ff30;
}