.navbar {
    background-color: #1f1f1f;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.compile-btn {
    color: white;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

.compile-btn:hover {
    background-color: #1f1f1f;
}
