.sidebar {
    height: 100%;
    width: 25%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #1f1f1f;
    overflow-x: hidden;
    overflow-y: hidden;
    border-right: 2px solid #4f4f4f;
}

.title {
    color: #fff;
    font-size: 10px;
    font-weight: 600;
    text-align: center;
    padding: 18px;
}

hr {
    border: 1px solid #4f4f4f;
    width: 100%;
}
